#header {
    background-image: url('./gustav-cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    height: 400px;
}
  
#header h1 {
    font-size: 8vw;
    margin: 0px;
    padding: 30px;
    color: white;
    position: relative;
    top: 90px;
}

/* header overlay */
#header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

[data-name="C"] {
    color: blue;
}
[data-name="D"] {
    color: red;
}
[data-name="E"] {
    color: green;
}
[data-name="F"] {
    color: yellow;
}
[data-name="G"] {
    color: black;
}
[data-name="A"] {
    color: orange;
}
[data-name="B"] {
    color: gray;
}