[data-name="C"] {
    color: blue;
}
[data-name="D"] {
    color: red;
}
[data-name="E"] {
    color: green;
}
[data-name="F"] {
    color: yellow;
}
[data-name="G"] {
    color: black;
}
[data-name="A"] {
    color: orange;
}
[data-name="B"] {
    color: gray;
}